@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* .container-home {
  display: flex;
  flex-direction: row; /* 기본적으로 가로 배열 
  flex-wrap: wrap;
  justify-content: center;
  height: 120vh; /* Viewport height 
  
}

.container-section {
  flex: 1;
  min-width: 500px; /* 최소 너비를 설정하여 너무 작아지지 않도록 합니다. 
  max-width: 35%; /* 기본적으로 화면의 절반을 차지하게 합니다. 
  box-sizing: border-box;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;

}

@media (max-width: 300px) {
  .container-home {
    flex-direction: column; 
    height: 800vh;
  }

  .container-section {
    max-width: 100%; 
  }
} */
.container-home {
  display: flex;
  flex-direction: row; /* 기본적으로 가로 배열 */
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh; /* 변경: 최소 높이를 viewport 높이와 같도록 설정 */
 
}

.container-section {
  flex: 1;
  min-width: 500px; /* 최소 너비를 설정하여 너무 작아지지 않도록 합니다. */
  max-width: 35%; /* 기본적으로 화면의 절반을 차지하게 합니다. */
  box-sizing: border-box;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  margin-top: 20px; /* 위쪽 여백 추가 */
}

@media (max-width: 300px) {
  .container-home {
    flex-direction: column; 
    min-height: auto; /* 변경: 세로로 배열될 때 최소 높이는 자동으로 조정됩니다. */
  }

  .container-section {
    max-width: 100%; 
    min-width: auto; /* 변경: 세로로 배열될 때 최소 너비는 자동으로 조정됩니다. */
  }
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  position: relative;
  bottom: 0;
}



/* h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Freeman", sans-serif;
  font-weight: 600;
  font-style: normal;
} */

/* p {
  font-family: "Freeman", sans-serif;
  font-weight: 300;
  font-style: normal;
} */

p, h3 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* 
body {
  font-family: "Freeman", sans-serif;
  font-weight: 200;
  font-style: normal;
} */
/* body {
  font-family: "Freeman", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  overflow: hidden; /* Prevent scrolling 
} */