/*
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container-home {
  display: flex;
  flex-direction: row; /* 기본적으로 가로 배열 
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh; /* Viewport height 
  
}

.container-section {
  flex: 1;
  min-width: 500px; /* 최소 너비를 설정하여 너무 작아지지 않도록 합니다. 
  max-width: 35%; /* 기본적으로 화면의 절반을 차지하게 합니다. 
  box-sizing: border-box;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;

}

@media (min-width: 32000px) {
  .container-home {
    flex-direction: column; /* 화면이 작아지면 세로 배열 
  }

  .container-section {
    max-width: 100%; /* 화면이 작아지면 전체 너비 
  }
}


p, h3, h4{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

*/
/* ###################################################################################################*/
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
@media (max-width: 1000px) {
  /* 홈페이지 컴포넌트가 겹치지 않도록 조정 */
  .footer {
    margin-top: 80000px; /* 푸터와 홈페이지 컴포넌트 사이에 여백 추가 */
  }
}